{%extends "layout.html" %}

{% block title %}
Main page
{% endblock %}

{%block main%}

<div class="mt-4 text-center"><h1 >Welcome to pokebum!</h1></div>
<p class="text-center">Pokebum is a pokemon based sticker album, you can complete your album opening packs, each packs
contains 5 stickers, you get a new pack every 2 hours.</p>
<p class="text-center">New features are coming soon, like a store, index (where you can find all the info about the pokemons) and more!</p>
<div class="text-center">
    <a class="btn themeColors" href="/album">Album</a>
    <a class="btn themeColors" href="/packs">Packs</a>
</div>


{% endblock %}